
<div class="stat-container">
            
  <div class="stat-holder">						
    <div class="stat">							
      <span>0</span>							
      Total Views Yesterday	
    </div> <!-- /stat -->						
  </div> <!-- /stat-holder -->
  
  <div class="stat-holder">						
    <div class="stat">							
      <span>0</span>							
      Total Views Today			
    </div> <!-- /stat -->						
  </div> <!-- /stat-holder -->
  
  <div class="stat-holder">						
    <div class="stat">							
      <span>0</span>							
      Videos						
    </div> <!-- /stat -->						
  </div> <!-- /stat-holder -->
  
  <div class="stat-holder">						
    <div class="stat">							
      <span>0</span>							
      Drafts							
    </div> <!-- /stat -->						
  </div> <!-- /stat-holder -->
  
</div> <!-- /stat-container -->
