
			<div class="span3">
				<div class="account-container">
				
					<div class="account-avatar">
            <%= gravatar_for current_user %>
					</div> <!-- /account-avatar -->
				
					<div class="account-details">
					
            <span class="account-name"><%= current_user.name %></span>
						<span class="account-role">Administrator</span>
						
						<span class="account-actions">
              <%= link_to "Profile", edit_user_path(current_user) %> |
							<%= link_to "Account", edit_user_path(current_user) %>
						</span>
					
					</div> <!-- /account-details -->
				
				</div> <!-- /account-container -->
				
				<hr />
				
				<ul id="main-nav" class="nav nav-tabs nav-stacked">
					
					<li>
						<a href="/dashboard">
							<i class="icon-home"></i>
							Dashboard 		
						</a>
					</li>
					<li>
						<a href="/account">
							<i class="icon-user"></i>
							User Account							
						</a>
					</li>
				</ul>	
				
				<hr />
				
				<div class="sidebar-extra">
          <p><strong>System News 09-21-2012: </strong> <br />A new feature has been added to do all kinds of cool things. <a href="#">Learn More</a></p>
				</div> <!-- .sidebar-extra -->
				
				<br />
			</div> <!-- /span3 -->
